params {
    // Input files
    input = "${projectDir}/assets/Sample.txt"
    outdir = "results"
    
    // Reference files (minimal for testing)
    fasta = "https://genome-idx.s3.amazonaws.com/bt/GRCh38_noalt_as.zip"
    gtf = "https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_44/gencode.v44.annotation.gtf.gz"
    
    // Pipeline settings
    pseudo_aligner = 'kallisto'
    skip_alignment = true
    seq_mode = 'SE'
    
    // Kallisto settings (fixed)
    extra_kallisto_quant_args = '-b 50 --single-overhang'
    kallisto_quant_fraglen = 200
    kallisto_quant_fraglen_sd = 200
    
    // Resource limits
    max_cpus = 2
    max_memory = '4.GB'
    max_time = '2.h'
}