params {
    input = "${projectDir}/test_data/Sample_test.txt"
    outdir = "results"
    
    // Minimal test - skip actual file processing
    skip_fastqc = true
    skip_trimming = true 
    skip_multiqc = true
    
    // Use transcript fasta instead of full genome processing
    transcript_fasta = "https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_44/gencode.v44.transcripts.fa.gz"
    gtf = "https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_44/gencode.v44.annotation.gtf.gz"
    
    pseudo_aligner = 'kallisto'
    seq_mode = 'SE'
    
    // Fixed kallisto args
    extra_kallisto_quant_args = '-b 10 --single-overhang'  // Smaller bootstrap for testing
    kallisto_quant_fraglen = 200
    kallisto_quant_fraglen_sd = 200
    
    max_cpus = 1
    max_memory = '2.GB'
    max_time = '1.h'
}