/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running LMD_rnaseq tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run . -profile test_lmd --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'LMD Test profile'
    config_profile_description = 'Minimal test dataset to check LMD_rnaseq pipeline function'

    // Limit resources for testing
    max_cpus   = 2
    max_memory = '4.GB'
    max_time   = '2.h'

    // Input data - use local test data
    input = "${projectDir}/test_data/Sample_test.txt"

    // Use small yeast genome for testing
    genome = 'R64-1-1'
    
    // Pipeline specific parameters
    aligner = 'kallisto'
    trimmer = 'trimgalore'
    skip_fastqc = false
    skip_trimming = false
    skip_multiqc = false
    
    // Kallisto parameters for testing
    kallisto_quant_fraglen = 200
    kallisto_quant_fraglen_sd = 200
    
    // Sequence mode (PE for paired-end)
    seq_mode = 'PE'
}